body{
    background-color: rgb(197, 196, 196);
    margin: 0 10%;
}
.container{
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px auto;
}
.color-container{
    width: 100%;
}

.color-panel, .text-panel{
    font-family: 'Noto Sans';
}

.color-panel{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 20px auto;
    min-height: 50px;
}
.red{
    background-color: #FF0000;
    color: #FFFFFF;
}

.black{
    background-color: #000000;
    color: #FFFFFF;
}

.white{
    background-color: #FFFFFF;
    color: #000000;
}

.font-panel{
    display: inline-block;
    width: 35%;
}

.font{
    text-decoration: underline;
}

.lato, h1{
    font-family: 'Lato';
}

.poppins, h2{
    font-family: 'Poppins' ;
}

.noto{
    font-family: 'Noto Sans';
}


.bold{
    font-weight: 700;
}

.italic{
    font-style: italic;
}

